@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

html {
  background-color: #f5f5f5;
}

h1, h2, h3, h4 {
  font-family: 'Varela Round', sans-serif;
  color: #484848;
  font-weight: lighter;
  margin: 0;
}

p {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  color: #484848;
}
