@import url('https://fonts.googleapis.com/css?family=Concert+One|Lato&display=swap');

h1, h2, h3, h4 {
  font-family: 'Concert One', sans-serif;
  color: #484848;
  font-weight: lighter;
}

p {
  font-family: 'Lato', sans-serif;
  color: #484848;
}
